.detailsHeaderContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Gotu', sans-serif;
}

.title {
    margin-top: 5%;
    font-size: 35px;
}

.jumboContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.jumbotron {
    width: 70vw;
    height: 70vh;
}

.imageContainer {
    display: flex;
    justify-content: center;
}

.detailSpans {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.buttonContainer {
    margin-top: 3%;
}

.pokemonDetails {
    font-size: 2vh;
    text-align: center;
}

@media screen  and (min-width: 900px) {
    .jumbotron {
        width: 500px;
    }
}

@media screen  and (max-width: 416px) {
    .pokemonDetailsImage {
        height: 80px;
        width: 80px;
    }
}

@media screen  and (min-width: 323px) {
    .btn-info {
        margin-top: 10px;
        height: 40px;
        width: 150px;
    }
}

@media screen  and (max-width: 414px) {
    .title {
        font-size: 24px;
    }
}

@media screen and (min-width: 365px) and (max-width: 376px) {
    .pokemonDetails {
        font-size: 3.8vw;
    }
}