.root {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: rgb(231,58,58);
    background: radial-gradient(circle, rgba(231,58,58,1) 0%, rgba(3,0,0,1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rootChildContainer {
  text-align: center;
  margin-top: 10%;
  width: 100%;
}

.header {
  font-size: 9vw;
  font-family: 'Gotu', sans-serif;
  color: aliceblue;
}

.headerSubtitle {
  font-family: 'Gotu', sans-serif;
  font-size: 2vw;
  color: aliceblue;
}

.pokeballImage {
    border-radius: 100%;
    height: 15vw;
    margin-top: 5%;
}

@media (prefers-reduced-motion: no-preference) {
    .pokeballImage:hover {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
