.rootContainer {
    width: 100%;
}

.pokedexHeader {
    color: white;
    font-family: 'Gotu', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
}

.btn-secondary {
    margin-left: 4px;
    background-color: rgb(51, 123, 190);
}

.btn-secondary:hover {
    background-color: rgb(51, 123, 190);
}

.btn-secondary:focus {
    background-color: rgb(110, 173, 255);;
}

.searchContainer {
    display: flex;
    margin-bottom: 3%
}

.selectContainer {
    margin-bottom: 4%;
}

.form-control {
    width: 250px;
    margin-left: 4%;
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.tableContainer {
    display: flex;
    justify-content: center;
}

.table-striped {
    background: aliceblue;
    width: 80%;
    overflow: scroll;
}

.thead-name {
    text-align: center;
    width: 180px;
}

.thead-image {
    text-align: center;
}

.thead-type {
    text-align: center;
}

.thead-weaknesses {
    text-align: center;
}

.pokemonNum {
    width: 100px;
}

.pokemonImage {
    width: 15%;
}

.pokemonImg {
    margin-left: 32%
}

.pokemonName {
    text-align: center;
    width: 15%;
}

.pokemonType {
    text-align: center;
    width: 20%;
}

.pokemonWeaknesses {
    width: 250px;
    text-align: center;
}

.pokemonHeight, .thead-height {
    text-align: right;
}

.pokemonWeight, .thead-weight {
    text-align: right;
}

.mr-sm-2 {
    width: 150px;
}

.my-2 {
    width: 210px;
}

.instructions {
    font-size: 12px;
    text-align: center;
}

.justify-content-center {
    color: white;
    margin-top: 30%;
}