.mainRoot {
    background: rgb(231,58,58);
    background: radial-gradient(circle, rgba(231,58,58,1) 0%, rgba(3,0,0,1) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}